*

!docker

!package.json
!package-lock.json

!manifest.webmanifest
!sw.js
!sw-injector.js
!sw-template.js
!sw-injector-template.js
!node

!*.html
!*.png
!*.svg
!*.xml

!audio
!css
!data
!fonts
!homebrew
!icon
!image
!img
!js
!lib
!pdf
!prerelease
!search
